<div class="container" id="container" [ngClass]="{ 'right-panel-active': overlayRight }">
	<div class="form-container sign-up-container">
		<form action="#">
			<h1>Funcionarios registrados</h1>
			<div class="social-container">
				<div href="#" class="social happy">
					<i class="gg-smile-mouth-open"></i>
				</div>
				<div href="#" class="social neutral">
					<i class="gg-smile-neutral"></i>
				</div>
				<div href="#" class="social sad"><i class="gg-smile-sad"></i></div>
			</div>
			<span>ya estas registrado, ¿no?</span>
			<button routerLink="/register">Toque aquí si NO está registrado</button>
		</form>
	</div>
	<div class="form-container sign-in-container">
		<form action="#">
			<h1>Iniciar Sesión</h1>
			<span>¿Así que ya estas registrado?</span>
			<span>Inicia sesión aquí</span>
			<input
			  type="text"
			  formControlName="username"
			  placeholder="ci funcionario"
			/>
			<button type="submit">Iniciar Sesión</button>
		  </form>
		  
	</div>
	<div class="overlay-container">
		<div class="overlay">
			<div class="overlay-panel overlay-left">
				<h1></h1>
				<p></p>
				<button class="ghost" id="signIn" (click)="toggleOverlay()">
					
				</button>
			</div>
			<div class="overlay-panel overlay-right">
				<h1>registro de funcionarios</h1>
				<p>Ingresa tu ci</p>
				<button class="ghost" id="signUp" (click)="toggleOverlay()">
					No registrado
				</button>
			</div>
		</div>
	</div>
</div>