<div class="container">
  <div [hidden]="submitted">
    <h1>Registro de funcionarios</h1>
    <form (ngSubmit)="onSubmit()" #registerForm="ngForm">
      <div class="form-group">
        <input
          type="text"
          formControlName="ci"
          placeholder="Cédula de Identidad"
          required="true"
          class="form-control"
        />
        <input
          type="text"
          formControlName="fullName"
          placeholder="Nombre Completo"
          required="true"
          class="form-control"
        />
        <input
          type="date"
          formControlName="bthDate"
          placeholder="Fecha de Nacimiento"
          required="true"
          class="form-control"
        />
        <div class="radio-container">
          <label for="true">Tengo Carnet</label>
          <input
            type="radio"
            id="true"
            name="option"
            value="true"
            (change)="toggleInputs(true)"
          />

          <label for="false">No Tengo Carnet</label>
          <input
            type="radio"
            id="false"
            name="option"
            value="false"
            (change)="toggleInputs(false)"
            checked
          />
        </div>
        <div *ngIf="showInputs">
          <input
            type="date"
            formControlName="expDate"
            placeholder="Fecha de Vencimiento"
            required="true"
            class="form-control"
          />
          <input
            type="file"
            formControlName="comprobant"
            placeholder="Comprobante"
            required="true"
            class="form-control"
          />
        </div>
      </div>
      <button type="submit">Actualizar</button>
    </form>
  </div>
</div>
