<div class="container">
  <h1>Registro de funcionarios</h1>
  <form (ngSubmit)="onSubmit()" #registerForm="ngForm">
    <div class="form-group">
      <input
        type="number"
        placeholder="logId"
        required="true"
        class="form-control"
        id="logId"
        [(ngModel)]="funcionario.logId"
        name="logId"
      />
      <input
        type="password"
        placeholder="Contraseña"
        required="true"
        class="form-control"
        id="password"
        [(ngModel)]="login.password"
        name="password"
      />
      <input
        type="text"
        id="ci"
        placeholder="Cédula de Identidad"
        required="true"
        class="form-control"
        [(ngModel)]="funcionario.ci"
        name="ci"
      />
      <input
        type="text"
        placeholder="Nombre Completo"
        required="true"
        class="form-control"
        id="nombreCompleto"
        [(ngModel)]="funcionario.nombreCompleto"
        name="nombreCompleto"
      />
      <input
        type="date"
        placeholder="Fecha de Nacimiento"
        required="true"
        class="form-control"
        id="fchNacimiento"
        [(ngModel)]="funcionario.fchNacimiento"
        name="fchNacimiento"
      />

      <div class="radio-container">
        <label for="true">Tengo Carnet</label>
        <input
          type="radio"
          id="true"
          name="option"
          value="true"
          (change)="toggleInputs(true)"
          [checked]="showInputs"
        />

        <label for="false">No Tengo Carnet</label>
        <input
          type="radio"
          id="false"
          name="option"
          value="false"
          (change)="toggleInputs(false)"
          checked
        />
      </div>

      <div *ngIf="showInputs">
        <input
          type="date"
          placeholder="Fecha de Vencimiento"
          required="true"
          class="form-control"
          id="fchVencimiento"
          [(ngModel)]="carnet.fchVencimiento"
          name="fchVencimiento"
        />
        <input
          type="file"
          placeholder="Imagen del Comprobante"
          required="true"
          class="form-control"
          id="comprobante"
          [(ngModel)]="carnet.comprobante"
          name="comprobante"
        />
      </div>

      <div *ngIf="!showInputs">
        <label for="fchAgenda">Selecciona una fecha de agenda:</label>
        <select
          #agendas
          id="fchAgenda"
          (change)="onSelectChange(agendas)"
          name="fchAgenda"
          class="form-control"
          required
        >
          <option
            *ngFor="let fecha of fechasDisponibles"
            value="{{ fecha.nro }}//{{ fecha.fchAgenda }}"
          >
            <h6>
              Fecha: {{ fecha.fchAgenda | date : "fullDate" }} - Nro:
              {{ fecha.nro }}
            </h6>
          </option>
        </select>
      </div>

      <input
        type="text"
        placeholder="Domicilio"
        required="true"
        class="form-control"
        id="direccion"
        [(ngModel)]="funcionario.direccion"
        name="direccion"
      />
      <input
        type="tel"
        placeholder="Teléfono"
        required="true"
        class="form-control"
        id="telefono"
        [(ngModel)]="funcionario.telefono"
        name="telefono"
      />
      <input
        type="email"
        placeholder="Email"
        required="true"
        class="form-control"
        id="email"
        [(ngModel)]="funcionario.email"
        name="email"
      />
    </div>
    <button type="submit">Crear Cuenta</button>
  </form>
</div>
