* {
	box-sizing: border-box;
}

button {
	border-radius: 20px;
	border: 1px solid #2b44ff;
	background-color: #2b44ff;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}

button:active {
	transform: scale(0.95);
}

button:focus {
	outline: none;
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: fit-content;
	background-color: black;
	text-align: center;
	color: white;
}