<div class="container">
  <h1>Registro de funcionarios</h1>
  <form (ngSubmit)="onSubmit()" #updateForm="ngForm">
    <div class="form-group">
      <input
        type="text"
        id="ci"
        placeholder="Cédula de Identidad"
        required="true"
        class="form-control"
        [(ngModel)]="funcionario.ci"
        name="ci"
      />
      <input
        type="text"
        placeholder="Nombre Completo"
        required="true"
        class="form-control"
        id="nombreCompleto"
        [(ngModel)]="funcionario.nombreCompleto"
        name="nombreCompleto"
      />
      <input
        type="date"
        placeholder="Fecha de Nacimiento"
        required="true"
        class="form-control"
        id="fchNacimiento"
        [(ngModel)]="funcionario.fchNacimiento"
        name="fchNacimiento"
      />
      <div class="radio-container">
        <label for="true">Tengo Carnet</label>
        <input
          type="radio"
          id="true"
          name="option"
          value="true"
          (change)="toggleInputs(true)"
          [checked]="showInputs"
        />

        <label for="false">No Tengo Carnet</label>
        <input
          type="radio"
          id="false"
          name="option"
          value="false"
          (change)="toggleInputs(false)"
          checked
        />
      </div>
      <div *ngIf="showInputs">
        <input
          type="date"
          placeholder="Fecha de Vencimiento"
          required="true"
          class="form-control"
          id="fchVencimiento"
          [(ngModel)]="carnet.fchVencimiento"
          name="fchVencimiento"
        />
        <input
        type="file"
        placeholder="Imagen del Comprobante"
        required="true"
        class="form-control"
        id="comprobante"
        [(ngModel)]="carnet.comprobante"
        name="comprobante"
        (change)="onFileChange($event)"
      />
      </div>
    </div>
    <button type="submit">Crear Cuenta</button>
  </form>
</div>