<div class="container" id="container">
  <div class="form-container sign-up-container">
    <form (ngSubmit)="modificarPeriodo()" #periodForm="ngForm">
      <h2>Modificar Fecha</h2>
      <span>Modifique la Fecha de Finalización</span>
      <input
        type="string"
        placeholder="yyyy-mm-dd"
        required="true"
        class="form-control"
        id="fecha"
        [(ngModel)]="this.date"
        name="fecha"
      />

      <button type="submit">Confirmar</button>
    </form>
  </div>
</div>
