.ng-valid[required],
.ng-valid.required {
    border-left: 5px solid #FF4B2B;
}

.ng-invalid:not(form) {
    border-left: 5px solid #FF4B2B;
}

.alert-danger {
    background-color: #FF4B2B;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
}

/* Styles for the container */
.container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 480px;
    padding: 0 50px;
}

/* Styles for the form title */
h1 {
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    margin: 0;
    margin-bottom: 20px;
    color: #ffffff;
    background-color: #FF416C;
}

.container form {
    padding: 20px;
}

/* Styles for the form sections */
.form-section {
    background-color: #fff;
    border: 2px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Styles for the form labels */
label {
    font-weight: bold;
    color: #FF416C;
    display: block;
    margin-bottom: 5px;
}

.form-group input{
    display: flex;
    width: 95%;
    height: 25px;
    overflow: auto;
}

/* Styles for the form inputs */
.form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    margin-bottom: 10px;
    transition: border-color 0.2s;
}

/* Styles for the error messages */
.alert-danger {
    color: #FF416C;
}

/* Styles for the buttons */
.btn-success,
.btn-default,
.btn-primary {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
}


.btn-success {
    border-radius: 20px;
    border: 1px solid #FF4B2B;
    background-color: #FF4B2B;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
    cursor: pointer;
}

.btn-success:hover {
    background-color: #449d44;
}

.btn-default {
    background-color: #fff;
    color: #FF416C;
    border: 1px solid #ccc;
    margin-right: 10px;
}

.btn-default:hover {
    background-color: #eee;
}


/* Additional styling for select element */
.select-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    margin-bottom: 10px;
    background-color: #fff;
}

