<div class="container">
    <div [hidden]="submitted">
        <form action="#"></form>
        <h1>Registro de funcionarios</h1>
        <form (ngSubmit)="onSubmit()" #registerForm="ngForm">
            <div class="form-group">
                <label for="ci">ci</label>
                <input type="text" class="form-control" id="ci" required [(ngModel)]="model.ci"
                    name="ci" #ci="ngModel">
                <div [hidden]="ci.valid || ci.pristine" class="alert alert-danger">
                    El campo 'ci' es obligatorio
                </div>

                <div class="form-group">
                    <label for="name">Nombre</label>
                    <input type="text" class="form-control" id="name" required [(ngModel)]="model.name"
                        name="name" #name="ngModel">
                    <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
                        El campo 'Nombre' es obligatorio
                    </div>
                </div>

                <div class="form-group">
                    <label for="surname">Apellido</label>
                    <input type="text" class="form-control" id="surname" required [(ngModel)]="model.surname"
                        name="surname" #surname="ngModel">
                    <div [hidden]="surname.valid || surname.pristine" class="alert alert-danger">
                        El campo 'Apellido' es obligatorio
                    </div>
                </div>

                <div class="form-group">
                    <label for="bthdate">fecha de nacimiento</label>
                    <input type="text" class="form-control" id="bthdate" required [(ngModel)]="model.bthdate"
                        name="bthdate" #bthdate="ngModel">
                    <div [hidden]="bthdate.valid || bthdate.pristine" class="alert alert-danger">
                        El campo 'fecha de nacimiento' es obligatorio
                    </div>
                </div>

                <div class="form-group">
                    <label for="direccion">direccion</label>
                    <input type="text" class="form-control" id="direccion" required [(ngModel)]="model.direccion"
                        name="direccion" #bthdate="ngModel">
                    <div [hidden]="direccion.valid || direccion.pristine" class="alert alert-danger">
                        El campo 'direccion' es obligatorio
                    </div>
                </div>
                
                <div class="form-group">
                    <label for="telefono">telefono</label>
                    <input type="text" class="form-control" id="telefono" required [(ngModel)]="model.telefono"
                        name="telefono" #telefono="ngModel">
                    <div [hidden]="telefono.valid || telefono.pristine" class="alert alert-danger">
                        El campo 'telefono' es obligatorio
                    </div>
                </div>
                
                
            
            <div class="form-group">
                <label for="email">Email</label>
                <input type="text" class="form-control" id="email" required [(ngModel)]="model.email"
                    name="email" #email="ngModel">
                <div [hidden]="email.valid || email.pristine" class="alert alert-danger">
                    El campo 'Email' es obligatorio
                </div>
            </div>
            
            <button type="button" class="btn btn-success">Registrar Usuario</button>
        </form>
    </div>
</div>